.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
lib/firebase_options.dart
